<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products List</title>
</head>
<body>
<h2>Produits</h2>

<% products.forEach( product => { %>
<ul>
    <h4>N° produit <%= product.id %> nom: <%= product.name %></h4>
    <li> Stocks :  <%= product.stock %>
    <li> Prix :  <%= product.price %>    </li>
</ul>
<% }) %>

<h2>Avis</h2>
<% reviews.forEach( review => { %>
    <ul>
        <li> Produits :  <%= review.id_product %>
        <li> Titre :  <%= review.title %>
        <li> Contenu :  <%= review.content %>    </li>
    </ul>
<% }) %>

</body>
</html>